{% extends 'home/base.html' %}

{% load static %}

{% block title %}
TeachersAnywhere || Contact Us
{% endblock title %}

{% block lowerbody %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3"></div>
        <div class="col-12 text-center">
            <span class="contact-head">Contact Us</span>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-6 col-sm-12 text-center p-5">
                    <span class="contact-off">
                        Marketing Manager - Ashish Jindal <br>
                        Email Address - ashishjindal18072002@gmail.com
                    </span><br><br>
                    <span class="contact-off">
                        Designing and Development Manager - Ayush Bansal <br>
                        Email Address - ayushbofficial@gmail.com
                    </span>
                </div>
                <div class="col-lg-6 col-sm-12 text-center p-5">
                    <span class="contact-off">
                        Want your teacher profile to be added on website, <br>
                        mail us your profile on teachersanywhere@gmail.com 
                    </span> <br><br>
                    <span class="contact-off">
                        The profile should have following data - 
                        Name, Experience, Classes Teaching, Phone Number,
                        Address, Type of teacher (Home tutor/Tution Center teacher),
                        subject (Minimun-1 / Maximum-3) and a passport size photo (180px-180px)
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
{% endblock lowerbody %}